.wrapper {
}

.header {
    display: flex;
    /* align-items: center; */
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 1rem 3rem;
}

.teacher {
    display: flex;
    align-items: center;
    margin-right: auto;

}

.teachername {
margin-left: 2rem;
}

.actions {

}

.context {
    padding:  0 7rem ;
    display: flex;
    align-items: center;

}

.contexttext {
    padding: 0 2rem;

}

.contextp1 {
    text-transform: uppercase;
    color: #777;


}

.contextp2 {

}

.article {

}

.challenges {
    /* padding:  0 3rem ; */
    padding:  0 7rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.send {
    display: flex;
    align-items: center;
    padding-left: 13rem ;

}

.work {
    margin-left: 10rem;
}

.upload {
    /* background: #eee; */
    height: 10rem;
    width: 12rem;
    text-align: center;
    margin:  2rem auto;
    border:  1.5px dashed #ccc;
    border-radius: .5px;
    
}


.quest {

}

.q {

}

.attach {

}








.btn {
    padding: 1rem 2rem;
    border-radius: .5rem;
    background: #F1F1F5;
}

button:active {
    background: #C1BEBE;
}

button {
    transition: all .2s ease-in;
    outline: none;
}

.dialog {
    transition: all .2s ease-in;
    cursor: pointer;
}
.dialog:hover {
    background: #ddd;
}