.form {
    text-align: center;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.goals {
    display: flex;
    align-items: center;
}

.goal {
    font-size: 2rem;
    color: #2787D8;
    text-transform: uppercase;
    margin-right: 1rem;
}

.text {
    font-size: 1rem;
    margin-right: 2rem;

    /* font-family: inherit; */
}


.box {
    height: 16.5rem;
    width: 23rem;
    border-radius: .8rem;
    background: #BDE0F2;
    

}

.comm {
    font-size: 1.3rem;
    margin-top: 1rem;
   

}

.when {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7.5rem;
    border-top: 1px solid #eee;
    width: 100%;
    padding-top: .5rem;
}



.ci {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: #3DA341;
    margin-left: .5rem;
}

.time {
    margin-right: .5rem;

}
.time span:first-child {
    font-weight: bold;
}
.time span:last-child {
    font-weight: bold;
}